<a href="#" class="back-arrow"></a>

<form>
  <section>
    <h1>Blackcatcard</h1>
    <div class="b-row mb-30">
      <div class="coll">
        <mat-form-field class="w-100 form-group">
          <mat-select placeholder="Country" [(value)]="selected" [ngClass]="selected">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              <img src="assets/img/{{country.flag}}.svg" class="country-flag"> {{country.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="b-flex mb-30 w-100">
      <div class="coll-auto">
        <mat-form-field class="b-code">
          <span class="pseudo-placeholder">Phone Number</span>
          <input matInput placeholder="" value="{{selected}}" disabled>
        </mat-form-field>
      </div>
      <div class="coll">
        <mat-form-field class="w-100 form-group">
          <input matInput placeholder="" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
  </section>
  <div class="d-flex btn-wrap">
    <button type="submit" mat-raised-button class="e-btn w-100">
      Sign In
    </button>
  </div>
</form>


