:host{
  display: block;
  height: 100%;
}

h1{
  font-size: 32px;
  font-weight: 100;
  color: #ffffff;
  padding-top: 218px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

form{
  max-width: 316px;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
  flex-direction: column;
  display: flex;
  height: 100%;

  section{
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
  }
}

.form-group{
  ::ng-deep.mat-input-element{
    color: #ffffff;
    caret-color: #ffffff;
  }

  ::ng-deep.mat-form-field-label {
    color: rgba(255,255,255,.5);
  }

  ::ng-deep.mat-select-value {
    color: #ffffff;
  }

  ::ng-deep.mat-select-arrow {
    color: #ffffff;
  }

  ::ng-deep.mat-form-field-infix{
    width: auto;
  }

  &.mat-focused {
    ::ng-deep.mat-form-field-label{
      color: #ffffff;
    }
    ::ng-deep.mat-form-field-underline{
      background-color: rgba(255,255,255,.5);
    }

    ::ng-deep.mat-form-field-ripple {
      background-color: #ffffff;
    }

    ::ng-deep.mat-select-arrow {
      color: #ffffff;
    }
  }

  ::ng-deep.mat-form-field-underline{
    background-color: rgba(255,255,255,.5);
  }
}

.b-code{
  width: 70px;
  margin-right: 32px;

  ::ng-deep.mat-form-field-label{
    overflow: visible;
  }

  &.mat-form-field-disabled {
    ::ng-deep .mat-form-field-underline{
      background-color: rgba(255,255,255,.5);
      background-image: none;
    }
  }

  .mat-input-element:disabled {
    color: rgba(255,255,255,.5);
  }

  ::ng-deep.mat-form-field-label,
  ::ng-deep.mat-form-field-prefix{
    color: rgba(255,255,255,.5);
  }

  .pseudo-placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    position: absolute;
    left: -13px;
    transform: translateY(-2.28125em) scale(.75) perspective(100px) translateZ(.001px);
    top: 1.28125em;
    white-space: nowrap;
  }
}

.btn-wrap{
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 55px;
}

.e-btn{
  background-color: transparent;
  border: 2px solid #77a45c;
  border-radius: 26px;
  height: 52px;
  color: #77a45c;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  outline: none;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/green.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.country-flag {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.back-arrow {
  width: 28px;
  height: 28px;
  background-image: url('../../assets/img/back-button.png');
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 28px;
}


::ng-deep.cdk-overlay-pane{
  .mat-option-text{
    display: flex;
    align-items: center;
  }
}

::ng-deep.\+33 {
  padding-left: 30px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/fr.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-size: cover;
    background-position: 50%;
  }
}

::ng-deep.\+49 {
  padding-left: 30px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/de.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-size: cover;
    background-position: 50%;
  }
}

::ng-deep.\+7 {
  padding-left: 30px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/ru.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-size: cover;
    background-position: 50%;
  }
}

::ng-deep.\+371 {
  padding-left: 30px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/lv.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-size: cover;
    background-position: 50%;
  }
}

::ng-deep.\+36 {
  padding-left: 30px;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    background-image: url('../../assets/img/hu.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-size: cover;
    background-position: 50%;
  }
}
