.content{
  width: 100%;
  height: 100%;
  max-width: 414px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../assets/img/cat-bg.png');
  background-repeat: no-repeat;
  position: relative;
}
