@import "~@angular/material/prebuilt-themes/purple-green.css";
$font-path: "/assets/fonts/SanFrancisco" !default;

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SFUIDisplay-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
  url('#{$font-path}/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SFUIDisplay-Medium.woff') format('woff'),
  url('#{$font-path}/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
  url('#{$font-path}/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
  url('#{$font-path}/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SFUIDisplay-Light.woff') format('woff'),
  url('#{$font-path}/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SFUIDisplay-Thin.eot');
  src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
  url('#{$font-path}/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SFUIDisplay-Thin.woff') format('woff'),
  url('#{$font-path}/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


$default-font-family: 'SF UI Text';

.w-100{
  width: 100%;
}

.mb-30{
  margin-bottom: 30px;
}

.b-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.b-flex{
  display: flex;
}

.coll {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.coll-auto {
  flex: 0 0 auto;
  width: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'SF UI Display';
  height: 100vh;
  min-height: 736px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
  height: 100%;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #77a45c;
}
